/build*/
/dist/
/tools/
/.dotnet/
.dotnet/

/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/build.ninja
/.ninja_deps
/.ninja_log
.cache/

*.bin
*.dis
*.elf
*.elf.map
*.hex
*.map
*.uf2
*.log
*.otp.json

/keys/*.json
/keys/*.pem

/native/**/bin/
/native/**/obj/
/windows/**/bin/
/windows/**/obj/
/native-rs/**/target/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.user
third_party
